.container-profile {
    padding-top: 49px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
}
.banner {
    width: 50%;
    border-radius: 0 0 20px 20px;
    margin: 0 auto;
    height: 250px;
    background-image: url(../../../assets/Images/bannerProfile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    border: 2px solid rgba(219, 219, 219, 1);
}
.avatar-user {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid rgba(219, 219, 219, 1);
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.user-infor {
    position: absolute;
    text-align: center;
    bottom: -170px;
    left: 50%;
    transform: translate(-50%, -50%);
    p:first-child {
        font-weight: 500;
        font-size: 15px;
        margin-bottom: 5px;
    }
    p:last-child {
        font-size: 13px;
    }
}
.setting {
    position: absolute;
    right: 20px;
    background-color: #f1f1f1;
    border-radius: 4px;
    bottom: 20px;
    a {
        height: 25px;
        font-size: 12px;
        text-transform: uppercase;
        width: 110px;
        display: flex;
        color: black;
        align-items: center;
        font-weight: 500;
        user-select: none;
        justify-content: center;
        .icon-set {
            height: 25px;
            display: flex;
            align-items: center;
            font-size: 18px;
        }
        &:hover {
            text-decoration: none;
            opacity: 0.7;
        }
    }
}
.show-article {
    margin: 150px auto 0 auto;
    width: 50%;
    min-height: 320px;
    display: flex;
    flex-direction: column;
}
.tab-article {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    justify-content: space-between;
    display: flex;
    a {
        text-align: center;
        border-radius: 6px;
        text-transform: uppercase;
        font-size: 13px;
        color: #805bdc;
        font-weight: 500;
        padding: 10px 0;
        border: 2px solid rgba(219, 219, 219, 1);
        &:hover {
            text-decoration: none;
        }
    }

    a.selected {
        background-color: #a29bfe;
        color: #fff;
    }
}
.item-article {
    border-radius: 4px;
    min-height: 150px;
    margin-bottom: 10px;
    border: 2px solid rgba(219, 219, 219, 1);
    display: flex;
    flex-direction: column;
}
.top-item {
    height: 60px;
    user-select: none;
    border-bottom: 2px solid rgba(219, 219, 219, 1);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    .avt-user {
        width: 48px;
        margin-left: 10px;
        border-radius: 50%;
        border: 1px solid rgba(219, 219, 219, 1);
        height: 48px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.user-title {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    p {
        line-height: 20px;
        margin: 0;
        &:first-child {
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 140px;
            text-transform: uppercase;
        }
        &:last-child {
            font-size: 12px;
        }
    }
}
.btn-like {
    position: absolute;
    top: 5px;
    right: 10px;
    span {
        height: 30px;
        min-width: 30px;
        cursor: pointer;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.body-item {
    p {
        width: 100%;
        padding: 5px;
        margin: 0;
        word-wrap: break-word;
    }
    a {
        color: black;
        font-size: 12px;
        padding: 0 0 5px 5px;
    }
}
