.item-article {
    width: 100%;
    border-radius: 4px;
    min-height: 150px;
    margin-bottom: 10px;
    background-color: #fff;
    border: 1px solid rgba(219, 219, 219, 1);
    display: flex;
    flex-direction: column;
}
.top-item {
    height: 60px;
    margin: 0 auto;
    width: 96%;
    user-select: none;
    border-bottom: 2px solid rgba(219, 219, 219, 1);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    .avt-user {
        width: 44px;
        margin-left: 10px;
        border-radius: 50%;
        border: 1px solid rgba(219, 219, 219, 1);
        height: 45px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.user-title {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    p {
        line-height: 20px;
        margin: 0;
        &:first-child {
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 140px;
            text-transform: uppercase;
            &:hover {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &:last-child {
            font-size: 12px;
        }
    }
}
.btn-like {
    position: absolute;
    top: 10px;
    right: 10px;
    span {
        height: 30px;
        min-width: 30px;
        cursor: pointer;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.body-item {
    padding-bottom: 10px;
    p {
        width: 100%;
        font-weight: 500;
        padding: 5px 0 0 20px;
        margin: 0;
        word-wrap: break-word;
    }
    a {
        color: black;
        font-size: 12px;
        padding: 0 0 0 20px;
    }
}
.icon-like-red {
    color:red;
 }
.item-feed {
    padding: 10px;
}
.status {
    padding: 20px;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(219, 219, 219, 1);
    max-height: 150px;
    margin-bottom: 5px;
    overflow: hidden;
}
.icon-like.active {
    color: red;
    animation: aniLiked 0.3s ease-in-out;
    animation-iteration-count: 2;
}

@keyframes aniLiked {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.15);
    }
}
