<div class="container-setting">
  <h2>ACCOUNT SETTING</h2>
  <div class="infor">
    <div class="avatar-user">
      <img src="{{ urlAvatar }}" alt="" />
    </div>
    <div class="user-infor">
      <p class="name">TranThanhTung</p>
      <p class="bio">tsadsasdsadasdasda</p>
    </div>
  </div>
  <div class="edit-infor">
    <form #settingForm="ngForm" (ngSubmit)="handleUpdate()">
      <div class="row">
        <div class="form-group col-xl-6 col-md-12">
          <label for="username">Username</label>
          <input
            type="text"
            name="username"
            [(ngModel)]="name"
            #nameControl="ngModel"
            class="form-control"
            id="username"
            autocomplete="false"
            placeholder="Enter username..."
          />
        </div>
        <div class="form-group col-xl-6 col-md-12">
          <label for="urlProfile">URL Image</label>
          <input
            type="text"
            name="urlAvatar"
            [(ngModel)]="urlAvatar"
            #urlControl="ngModel"
            class="form-control"
            id="urlAvatar"
            autocomplete="false"
            placeholder="URL Profile Picture"
          />
        </div>
        <div class="form-group col-xl-6 col-md-12">
          <label for="email">Email</label>
          <input
            type="email"
            name="email"
            [(ngModel)]="email"
            #emailControl="ngModel"
            class="form-control"
            id="email"
            autocomplete="false"
            placeholder="Email adress..."
          />
        </div>
        <div class="form-group col-xl-6 col-md-12">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            #passControl="ngModel"
            class="form-control"
            id="password"
            autocomplete="false"
            placeholder="Password"
          />
        </div>
      </div>
      <div class="form-group">
        <label for="bio">Bio about you</label>
        <textarea class="form-control" id="bio" #bioControl="ngModel" name="bio" [(ngModel)]="bio" rows="3"></textarea>
      </div>
      <div class="message" *ngIf="message">{{message}}</div>
      <div class="fr-submit col-12">
        <button
          type="submit"
          class="btn btn-info"
          [disabled]="!settingForm.valid"
        >
          UPDATE SETTING
        </button>
      </div>
    </form>
  </div>
</div>
