@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
* {
    box-sizing: border-box;
}
.container_create-article {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 50px;
    flex-direction: column;
    background-color: #fff;
    animation: showForm 1s ease-in-out;
    h2 {
        width: 100%;
        color: #a496da;
        font-size: 36px;
        text-align: center;
        margin-top: 40px;
    }
    form {
        width: 60%;
        input {
            &::placeholder {
                font-size: 12px;
            }
        }
        .form_submit {
            width: 100%;
            display: flex;
            justify-content: center;
            button {
                min-width: 300px;
            }
        }
    }
}
.btn-publish {
    color: #fff;
    background-color: #927fdd;
    align-items: center;
    height: 40px;
    margin-top: 20px;
}
.inputBox {
    position: relative;
    width: 100%;
    height: 40px;
    color: #a496da;
    margin: 40px 0;
}
.inputBox input {
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    box-shadow: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
    z-index: 1;
    color: #fff;
    border: none;
}

.inputBox .text {
    position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 10px;
    display: block;
    transition: all 0.5s;
    pointer-events: none;
}
.inputBox input:focus + .text,
.inputBox input:valid + .text {
    top: -35px;
    left: -10px;
}
.inputBox .line {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #a496da;
    transition: 0.5s;
    border-radius: 4px;
    pointer-events: none;
}
.inputBox input:focus ~ .line,
.inputBox input:valid ~ .line {
    height: 100%;
}
// .text-body {
//     top: 0;
//     left: 0;
//     line-height: 40px;
//     font-size: 18px;
//     padding: 0 0px;
//     display: block;
//     color: #a496da !important;
//     transition: all 0.5s;
//     pointer-events: none;
// }
.text-tag {
    // position: absolute;
    top: 0;
    left: 0;
    line-height: 40px;
    font-size: 18px;
    padding: 0 0px;
    display: block;
    color: #a496da;
    transition: all 0.5s;
    pointer-events: none;
}
.a {
    background-color: #927fdd;
    color: #fff;
    height: 40px;
}
.input-tag {
    border: none;
    border-radius: 0;
    border-bottom: 3px solid #a496da;
}

@media (max-width: 768px) {
    .container_create-article {
        form {
            width: 100%;
            padding: 30px;
            button {
                width: 100%;
            }
        }
    }
}

@keyframes showForm {
    from {
        transform: translateY(-300%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}
input.ng-touched.ng-invalid {
    border: 2px solid red;
}
textarea.ng-touched.ng-invalid {
    border: 2px solid red;
}
