<div class="container_create-article">
  <h3>CREATE NEW ARTICLE</h3>
  <form #addArticle="ngForm" (ngSubmit)="handleAddArticle(addArticle)">
    <div class="form-group">
      <input
        type="text"
        name="title"
        [(ngModel)]="title"
        #titleControl="ngModel"
        class="form-control"
        id="email"
        autofocus
        autocomplete="false"
        placeholder="Article title..."
        required
      />
    </div>
    <div class="form-group">
      <input
        type="text"
        name="about"
        [(ngModel)]="about"
        #aboutControl="ngModel"
        class="form-control"
        id="about"
        autocomplete="false"
        placeholder="Article about..."
        required
      />
    </div>
    <div class="form-group">
      <angular-editor
        name="htmlContent"
        [(ngModel)]="htmlContent"
        [config]="config"
        required
      ></angular-editor>
    </div>
    <div class="form-group">
      <input
        type="text"
        name="tags"
        [(ngModel)]="tags"
        #tagsControl="ngModel"
        class="form-control"
        id="tags"
        autocomplete="false"
        placeholder="Article tags..."
      />
    </div>
    <div class="form_submit">
      <button
        type="submit"
        class="btn btn-publish"
        [disabled]="!addArticle.valid"
      >
        PUBLISH
      </button>
    </div>
  </form>
</div>
