<div class="container_create-article">
  <h2>CREATE NEW ARTICLE</h2>
  <form #addArticle="ngForm" (ngSubmit)="handleAddArticle(addArticle)">
    <div class="form-group">
      <div class="inputBox">
        <input type="text" name="title" [(ngModel)]="title" #titleControl="ngModel" class="form-control" id="email"
          autocomplete="false" required />
        <span class="text">Title</span>
        <span class="line"></span>
      </div>

    </div>
    <div class="form-group">
      <div class="inputBox">
        <input type="text" name="about" [(ngModel)]="about" #aboutControl="ngModel" class="form-control" id="about"
          autocomplete="false" required />
        <span class="text">About</span>
        <span class="line"></span>
      </div>


    </div>
    <div class="form-group">
      <angular-editor name="htmlContent" [(ngModel)]="htmlContent" [config]="config" required></angular-editor>
    </div>
    <div class="form-group">
      <mat-form-field class="example-chip-list" appearance="fill">
        <span class="text-tag"> Tags</span>
        <mat-chip-list #chipList aria-label="Fruit selection">
          <mat-chip class="a" *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
            (removed)="remove(tag)">
            #{{tag}}
            <button matChipRemove *ngIf="removable">
              <mat-icon>cancel</mat-icon>
            </button>
          </mat-chip>
          <input placeholder="Enter tag..." class="form-control input-tag" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>

    </div>
    <div class="form_submit">
      <button type="submit" class="btn btn-publish" [disabled]="!addArticle.valid">
        PUBLISH
      </button>
    </div>
  </form>
</div>