.container-home {
    width: 100%;
    padding-top: 60px;
    min-height: 100vh;
    display: flex;
    color: #fff;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    background-color: black;
}
