<div class="container-home">
  <div class="banner row">
    <div class="banner-left col-8">
      <div class="img-left"></div>
    </div>
    <div class="banner-right col-4">
      <div class="img-right"></div>
    </div>
  </div>
  <div class="container-feed">
    <div class="item-feed col-10">
      <div class="item-article">
        <div class="top-item">
          <div class="avt-user">
            <img
              src="https://i.pinimg.com/236x/ad/c0/01/adc00172f98f2f36e2dc0efb3b9bd9ad.jpg"
              alt=""
            />
          </div>
          <div class="user-title">
            <p>TranThanhTung</p>
            <p>November 3, 2021</p>
          </div>
          <div class="btn-like">
            <span><mat-icon class="icon-like">favorite_border</mat-icon>0</span>
          </div>
        </div>
        <div class="body-item">
          <p></p>
          <a routerLink="">Read more...</a>
        </div>
      </div>
    </div>
    <div class="item-feed col-2">
      <app-tags></app-tags>
    </div>
  </div>
</div>
