.container-home {
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    display: flex;
    color: #fff;
    background-color: #f1f1f1;
    align-items: center;
    flex-direction: column;
}

.banner {
    margin-top: 10px;
    width: 80%;
    justify-content: space-between;
    height: 350px;
    &-left {
        padding: 10px;
        animation: imgleft 0.8s ease-in-out;
    }
    &-right {
        padding: 10px;
        animation: imgright 0.8s ease-in-out;
    }
    .img-left {
        height: 100%;
        border-radius: 4px;
        width: 100%;
        border: 1px solid rgba(219, 219, 219, 1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/Images/banner-left.png);
    }
    .img-right {
        height: 100%;
        border-radius: 4px;
        width: 100%;
        border: 1px solid rgba(219, 219, 219, 1);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../../assets/Images/banner-right.png);
    }
}
.container-feed {
    color: black;
    justify-content: space-between;
    margin: 0 auto;
    width: 80.5%;
    min-height: 400px;
    display: flex;
}

@keyframes imgleft {
    from {
        transform: translateX(-200%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@keyframes imgright {
    from {
        transform: translateX(200%);
        opacity: 0;
    }
    to {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .banner {
        width: 96%;
        height: 250px;
        &-right {
            display: none;
        }
    }
    .container-feed {
        width: 96%;
        .item-feed:last-child {
            display: none;
        }
    }
}
.item-feed {
    padding-left: 15px;
    &:first-child {
        padding-right: 0;
    }
}
.change-feed {
    width: 100%;
    height: 30px;
    border: 1px solid rgba(219, 219, 219, 1);
    margin: 0 0 10px 0;
    font-weight: 500;
    user-select: none;
    color: #8c46dd;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    a {
        width: 50%;
        text-align: center;
        text-transform: uppercase;
        height: 30px;
        color: black;
        line-height: 30px;
    }
    a.selected {
        color: rgba(140, 70, 221, 1);
        border-bottom: rgba(140, 70, 221, 1) 2px solid;
    }
}
