<div class="container_edit-article">
    <h2>EDIT ARTICLE</h2>
    <form #editArticle="ngForm" (ngSubmit)="handleUpdateArticle()">
        <div class="form-group">
            <div class="inputBox">
                <input type="text" name="title" [(ngModel)]="title" #titleControl="ngModel" class="form-control"
                    id="articleTitle" autocomplete="false" required />
                <span class="text">Title</span>
                <span class="line"></span>
            </div>

        </div>
        <div class="form-group">
            <div class="inputBox">
                <input type="text" name="description" [(ngModel)]="description" #aboutControl="ngModel"
                    class="form-control" id="articleAbout" autocomplete="false" required />
                <span class="text">About</span>
                <span class="line"></span>
            </div>
        </div>
        <div class="form-group">
            <!-- <span class="text-body">Body</span> -->
            <angular-editor name="body" [(ngModel)]="body" [config]="config" required placeholder="Article Body...">
            </angular-editor>



        </div>

        <div class="form-group">

            <mat-form-field appearance="fill">
                <span class="text-tag"> Tags</span>
                <mat-chip-list #chipList>

                    <mat-chip class="a" *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                        (removed)="remove(tag)">
                        #{{tag}}
                        <button matChipRemove *ngIf="removable">
                            <mat-icon>x</mat-icon>
                        </button>
                    </mat-chip>


                    <input class="form-control input-tag" [matChipInputFor]="chipList" placeholder="Enter tag ..."
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
                        (matChipInputTokenEnd)="add($event)">





                </mat-chip-list>

            </mat-form-field>

        </div>

        <div class="form_submit">
            <button type="submit" class="btn btn-publish " [disabled]="!editArticle.valid">
                UPDATE ARTICLE
            </button>

        </div>
    </form>
</div>