<div class="container-nav" [ngClass]="{ logined: isNotAuthPage }">
  <div class="logo-blog" routerLink="home">BLOGMOCK</div>
  <div class="nav-bar">
    <div class="container-logined" *ngIf="isLogin">
      <ul>
        <li class="nav-item">
          <a class="nav-link selected">
            <mat-icon class="nav-icon">drive_file_rename_outline</mat-icon>New
            Article</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><mat-icon class="nav-icon">settings</mat-icon>Settings</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link"
            ><img
              src="https://i.pinimg.com/236x/ad/c0/01/adc00172f98f2f36e2dc0efb3b9bd9ad.jpg"
              alt=""
            />
            TungTran</a
          >
        </li>
      </ul>
    </div>
    <div class="container-notlogined" *ngIf="!isLogin">
      <ul>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="signin"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="signup"
            routerLinkActive="selected"
            [routerLinkActiveOptions]="{ exact: true }"
            >Register</a
          >
        </li>
      </ul>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
