<div class="container-fluid container-login">
  <div class="wrapper-login">
    <div class="img-login col-xl-6 col-md-6"></div>
    <div class="form-login col-xl-6 col-md-6">
      <p class="blog-name">
        BLOGMOCK <mat-icon class="icon-lg"> check_circle_outline</mat-icon>
      </p>
      <h3>Sign in to Blogmock</h3>
      <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
        <div class="form-group">
          <label for="username">Email address</label>
          <input
            type="text"
            name="username"
            [(ngModel)]="name"
            #nameControl="ngModel"
            class="form-control"
            id="username"
            autocomplete="false"
            placeholder="Enter email"
            required
          />
        </div>
        <div
          *ngIf="
            loginForm.submitted || (nameControl.invalid && nameControl.touched)
          "
          class="notice_err"
        >
          <p *ngIf="nameControl.hasError('required')">Name is required.</p>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            name="password"
            [(ngModel)]="password"
            #passControl="ngModel"
            class="form-control"
            id="password"
            autocomplete="false"
            placeholder="Password"
            required
          />
        </div>
        <div
          *ngIf="
            loginForm.submitted || (passControl.invalid && passControl.touched)
          "
          class="notice_err"
        >
          <p *ngIf="passControl.hasError('required')">Password is required.</p>
        </div>
        <button
          type="submit"
          class="btn btn-danger"
          [disabled]="!loginForm.valid"
        >
          LOGIN
        </button>
      </form>
    </div>
  </div>
</div>
