.item-article {
    border-radius: 4px;
    min-height: 150px;
    margin-bottom: 10px;
    border: 2px solid rgba(219, 219, 219, 1);
    display: flex;
    flex-direction: column;
}
.top-item {
    height: 60px;
    user-select: none;
    border-bottom: 2px solid rgba(219, 219, 219, 1);
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    .avt-user {
        width: 48px;
        margin-left: 10px;
        border-radius: 50%;
        border: 1px solid rgba(219, 219, 219, 1);
        height: 48px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.user-title {
    width: 150px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    p {
        line-height: 20px;
        margin: 0;
        &:first-child {
            font-weight: 500;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 140px;
            text-transform: uppercase;
        }
        &:last-child {
            font-size: 12px;
        }
    }
}
.btn-like {
    position: absolute;
    top: 5px;
    right: 10px;
    span {
        height: 30px;
        min-width: 30px;
        cursor: pointer;
        padding: 0 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
.body-item {
    p {
        width: 100%;
        padding: 5px 0 0 20px;
        font-weight: 500;
        max-height: 90px;
        overflow: hidden;
        margin: 0;
        word-wrap: break-word;
    }
    a {
        color: black;
        font-size: 12px;
        padding: 0 0 5px 5px;
    }
}

.icon-like-red {
   color:red;
}

@media (max-width: 1024px) {
    .banner {
        width: 90%;
    }
    .show-article {
        width: 88%;
    }
}
@media (max-width: 375px) {
    .banner {
        width: 100%;
        height: 200px;
    }
    .show-article {
        width: 98%;
    }
    .setting {
        top: 10px;
        right: 10px;
        height: 25px;
        a {
            width: 110px;
            font-size: 12px;
        }
    }
}

.active {
    background-color: firebrick;
    color: white;
}
