<div *ngFor="let article of articles">
  <div class="item-article col-12">
    <div class="top-item">
      <div class="avt-user">
        <img [src]="article?.author?.image" alt="" />
      </div>
      <div class="user-title">
        <p>{{ article?.author?.username }}</p>
        <p>{{ article?.createdAt | amTimeAgo }}</p>
      </div>
      <div class="btn-like">
        <span><mat-icon [ngClass]="!article?.favorited ? 'icon-like' : 'icon-like-red'" (click)="toggleLike(article?.favorited,article?.slug)">favorite_border</mat-icon>{{article?.favoritesCount}}</span>
      </div>
    </div>
    <div class="body-item">
      <p>{{ article?.title }}</p>
      <p [innerHTML]="article?.body | safe"></p>
      <a
        routerLink="/article/detail/{{ article?.slug }}"
        matTooltip="Click to view detail this article!"
        >Read more...</a
      >
    </div>
  </div>
</div>
