<div *ngFor="let article of articles">
    <div class="item-article col-12">
        <div class="top-item">
          <div class="avt-user">
            <img
                [src]="article?.author?.image"
                alt=""
            />
          </div>
          <div class="user-title">
            <p>{{article?.author?.username}}</p>
            <p>{{article?.updatedAt | amTimeAgo}}</p>
          </div>
          <div class="btn-like">
            <span><mat-icon class="icon-like">favorite_border</mat-icon>0</span>
          </div>
        </div>
        <div class="body-item">
            <p>{{article?.title}}</p>
          <p [innerHTML]="article?.body | safe"></p>
          <a routerLink="/article/detail/{{article?.slug}}">Read more...</a>
        </div>
    </div>
</div>
