<app-load *ngIf="isLoading"></app-load>
<div class="list-item" *ngIf="!isLoading">
  <div class="item-article" *ngFor="let article of articles">
    <div class="top-item">
      <div class="avt-user">
        <img src="{{ article?.author?.image }}" alt="" />
      </div>
      <div class="user-title">
        <p routerLink="">{{ article?.author?.username }}</p>
        <p>{{ article?.createdAt | amTimeAgo }}</p>
      </div>
      <div
        class="btn-like"
        (click)="toggleLike(article?.favorited, article?.slug)"
      >
        <span
          ><mat-icon class="icon-like active" *ngIf="article?.favorited"
            >favorite</mat-icon
          ><mat-icon class="icon-like" *ngIf="!article?.favorited"
            >favorite_border</mat-icon
          >{{ article?.favoritesCount }}</span
        >
      </div>
    </div>
    <div class="body-item">
      <p>{{ article?.title }}</p>
      <div [innerHTML]="article?.body | safe" class="status"></div>
    </div>
    <div class="footer-item">
      <a
        routerLink="/article/detail/{{ article?.slug }}"
        matTooltip="Click to view detail article!"
        >Read more...</a
      >
      <div class="list_tags">
        <span class="tag_item" *ngFor="let tag of article?.tagList"
          >#{{ tag }}</span
        >
      </div>
    </div>
  </div>
  <nav
    aria-label="Page navigation example"
    class="d-flex justify-content-center"
    *ngIf="articles.length"
  >
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" aria-label="Previous" (click)="prePage()">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <ul class="pagination" *ngFor="let i of numberPage">
        <li class="page-item">
          <a (click)="getPage(i)" class="page-link">{{ i }}</a>
        </li>
      </ul>
      <li class="page-item">
        <a class="page-link" aria-label="Next" (click)="nextPage()">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="d-flex justify-content-center" *ngIf="!articles.length">
    <p>There are no posts yet</p>
  </div>
</div>
