<div class="container-article">
  <div class="avatar-user">
    <img
      src="https://i.pinimg.com/236x/ad/c0/01/adc00172f98f2f36e2dc0efb3b9bd9ad.jpg"
      alt=""
    />
  </div>
  <div class="user-title">
    <p>TranThanhTung</p>
    <p>November 3, 2021</p>
  </div>
  <div class="article-funct">
    <button class="btn btn-outline-secondary">
      <mat-icon>mode_edit</mat-icon>Edit Article
    </button>
    <button class="btn btn-outline-danger">
      <mat-icon>delete</mat-icon>Delete Article
    </button>
  </div>
</div>
